<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="registerModel.message" class="alert alert-success" role="alert">
        {{registerModel.message}}
    </div>

    <div ng-show="registerModel.error" class="alert alert-danger" role="alert">
        {{registerModel.error}}
    </div>

    <input ng-model="registerModel.user.username"
           class="form-control"
           placeholder="username"/>

    <input ng-model="registerModel.user.password"
           class="form-control"
           type="password" placeholder="password"/>

    <input class="form-control"
           type="password"
           placeholder="validate password"/>

    <a class="btn btn-primary btn-block" ng-click="registerModel.register(registerModel.user)">
        Register
    </a>

    <a class="btn btn-danger btn-block" href="#/login">
        Cancel
    </a>
</div>