<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="paint nav-glyp">
                <span class="glyphicon glyphicon-film"></span>
            </a>
        </div>
        <div class="search-bar navbar-text text-center">
            <input type="text" placeholder="Search..." class="form-control" id="usr">
        </div>
        <div class="navbar-text text-center">
            <a class="paint nav-glyp">
                <span class="adjust-with-search-bar glyphicon glyphicon-search"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="paint nav-glyp">
                <span class="glyphicon glyphicon-user"></span>
                <p class="select-size">LOGIN</p>
            </a>
        </div>
    </div>
</nav>

<!-- upcoming movies carousel -->

<div class="hidden-sm hidden-xs img-control" id="slides_control">
    <carousel interval="model.myInterval">
        <slide ng-repeat="slide in model.slides" active="slide.active">
            <img ng-src="https://image.tmdb.org/t/p/w500/{{slide.backdrop_path}}">
            <div class="carousel-caption">
                <h6>{{slide.title}}</h6>
            </div>
        </slide>
    </carousel>
    <h4 id="push-down">Upcoming Movies</h4>
</div>
<div class="hidden-sm hidden-xs" id="titles">
    <h4>Top 5 Rated Movies</h4>
    <table class="table table-hover">
        <tbody>
        <tr ng-repeat="movie in model.topMovies | limitTo:5">
            <th scope="row">{{$index + 1}}</th>
            <td>{{movie.title}}</td>
            <td>{{movie.vote_average}}</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- end of carousel -->

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<!-- TV Shows -->

<div class="hidden-sm hidden-xs" id="titles2">
    <h4>Top 5 Rated TV Shows</h4>
    <table class="table table-hover">
        <tbody>
        <tr ng-repeat="tvshow in model.topTvShows | limitTo:5">
            <th scope="row">{{$index + 1}}</th>
            <td>{{tvshow.original_name}}</td>
            <td>{{tvshow.vote_average}}</td>
        </tr>
        </tbody>
    </table>
    <h4>Latest TV Shows</h4>
</div>

<div class="slide-left text-center">
    <div class="hidden-sm hidden-xs imgContainer" ng-repeat="tvshow in model.latestTvShows | limitTo:3">
        <img class="tv-show-img" ng-src="https://image.tmdb.org/t/p/w500/{{tvshow.poster_path}}"/>
    </div>
</div>

<!-- end -->

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<hr>

<nav class="navbar-adj navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>

