<!-- Top navbar -->
<header class="ss-container ss-top ss-black ss-xlarge ss-padding-16">
    <span ng-click="model.goToHomePage()"
          class="ss-left ss-padding">GO MOVIES</span>
    <span ng-click="model.goToLoginOrProfile()"
          class="ss-right glyphicon glyphicon-user ss-padding"></span>
</header>

<div class="ss-main ss-content ss-content-page">

    <!-- Movie details -->
    <div class="ss-container ss-padding-16 ss-padding-large">
        <div class="ss-row-padding" style="margin:0 -16px">
            <div class="ss-half ss-margin-bottom">
                <img ng-click=""
                     ng-if="model.movie.poster_path"
                     ng-src="https://image.tmdb.org/t/p/w500/{{model.movie.poster_path}}"
                     class="ss-poster-style ss-padding-small">
                <img ng-click=""
                     ng-if="!model.movie.poster_path"
                     ng-src="{{model.posterNotFound}}"
                     class="ss-poster-style ss-padding-small">
            </div>
            <div class="ss-half">
                <h3 class="ss-xxxlarge">{{model.movie.original_title}} ({{model.movie.release_date.substr(0,4)}})</h3>
                <h3 class="ss-large">{{model.movie.overview}}</h3>
                <h3></h3>
                <span class="ss-large ss-left glyphicon glyphicon-time ss-padding"></span>
                <h3 class="ss-large ss-padding">Runtime: {{model.movie.runtime}} mins</h3>
                <h3></h3>
                <span class="ss-large ss-left glyphicon glyphicon-star ss-padding"></span>
                <h3 class="ss-large ss-padding">tmdb Ratings: {{model.movie.vote_average}}/10</h3>
                <h3></h3>
                <span ng-if="model.isUser"
                      class="ss-large ss-left glyphicon glyphicon-star-empty ss-padding"></span>
                <h3 ng-if="model.isUser && model.userAvgRating"
                    class="ss-large ss-padding">User Ratings: {{model.userAvgRating}}/10</h3>
                <h3 ng-if="model.isUser && !model.userAvgRating"
                    class="ss-large ss-padding">Be the first one to rate this movie.</h3>
                <div ng-show="model.isUser"
                     class="ss-row">
                    <div class="ss-half">
                        <span ng-click="model.addToWantToSee()"
                              ng-if="!model.wantToSee"
                              class="ss-large ss-left glyphicon glyphicon-plus ss-padding"></span>
                        <span ng-click="model.deleteToWantToSee()"
                              ng-if="model.wantToSee"
                              class="ss-large ss-left glyphicon glyphicon-ok ss-padding"></span>
                        <h3 class="ss-large">Want-To-See</h3>
                    </div>
                    <div ng-show="model.isCritic"
                         class="ss-half">
                        <h3></h3>
                    </div>
                    <div class="ss-half">
                        <fieldset class="rating" ng-disabled="model.stopRating">
                            <input type="radio" id="star5" name="rating" value="5"
                                   ng-value="5" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class = "full" for="star5" title="5 stars"></label>

                            <input type="radio" id="star4half" name="rating" value="4.5"
                                   ng-value="4.5" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class="half" for="star4half" title="4.5 stars"></label>

                            <input type="radio" id="star4" name="rating" value="4"
                                   ng-value="4" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class = "full" for="star4" title="4 stars"></label>

                            <input type="radio" id="star3half" name="rating" value="3.5"
                                   ng-value="3.5" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class="half" for="star3half" title="3.5 stars"></label>

                            <input type="radio" id="star3" name="rating" value="3"
                                   ng-value="3" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class = "full" for="star3" title="3 stars"></label>

                            <input type="radio" id="star2half" name="rating" value="2.5"
                                   ng-value="2.5" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class="half" for="star2half" title="2.5 stars"></label>

                            <input type="radio" id="star2" name="rating" value="2"
                                   ng-value="2" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class = "full" for="star2" title="2 stars"></label>

                            <input type="radio" id="star1half" name="rating" value="1.5"
                                   ng-value="1.5" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class="half" for="star1half" title="1.5 stars"></label>

                            <input type="radio" id="star1" name="rating" value="1"
                                   ng-value="1" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class = "full" for="star1" title="1 star"></label>

                            <input type="radio" id="starhalf" name="rating" value="0.5"
                                   ng-value="0.5" ng-model="model.stars"
                                   ng-click="model.rateThis(model.stars,model.movie,model.isCritic)"/>
                            <label class="half" for="starhalf" title="0.5 stars"></label>
                        </fieldset>
                    </div>
                </div>
                <br/><br/><br/>
                <div ng-if="model.isUser || model.isCritic"
                     class="ss-right">
                    <a ng-click="model.goToReadReview(model.movie.id)"
                       class="ss-small ss-padding">Read Reviews</a>
                </div>
                <br/>
                <div ng-if="model.isCritic"
                     class="ss-right">
                    <a ng-click="model.goToWriteReview(model.movie.id)"
                       class="ss-small ss-padding">Write a Review</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- Cast -->
    <div ng-if="model.cast.length" class="ss-container ss-dark-grey ss-padding-16 ss-padding-large">
        <h3>CAST</h3>
        <div class="ss-row-padding ss-padding-small">
            <div ng-repeat="actor in model.cast | limitTo:12" class="ss-onesixteen ss-padding-16">
                <img ng-click="model.goToPersonProfile(actor.id)"
                     ng-if="actor.profile_path"
                     ng-src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}"
                     class="ss-col.s12 ss-padding-small">
                <img ng-click="model.goToPersonProfile(actor.id)"
                     ng-if="!actor.profile_path"
                     ng-src="{{model.posterNotFound}}"
                     class="ss-col.s12 ss-padding-small">
                <h6 class="ss-padding-small ss-xsmall">{{actor.character}} ({{actor.name}})</h6>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- Trailers -->
    <div ng-if="model.trailers.length" class="ss-container ss-light-grey ss-padding-16 ss-padding-large">
        <h3>TRAILERS</h3>
        <div class="ss-row-padding ss-padding-16">
            <div ng-repeat="trailer in model.trailers | limitTo:3" class="ss-third">
                <iframe class="ss-black" width="100%" ng-src="{{trailer.video_path}}" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- Similar Movies -->
    <div ng-if="model.similarMovies.length" class="ss-container ss-grey ss-padding-16 ss-padding-large">
        <h3>SIMILAR MOVIES</h3>
        <div ng-repeat="movie in model.similarMovies | limitTo:4" class="ss-quarter ss-padding-16">
            <img ng-click="model.goToMoviePage(movie.id)"
                 ng-if="movie.poster_path"
                 ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                 class="ss-col.s12 ss-padding">
            <img ng-click="model.goToMoviePage(movie.id)"
                 ng-if="!movie.poster_path"
                 ng-src="{{model.posterNotFound}}"
                 class="ss-col.s12 ss-padding">
            <h6 class="ss-padding">{{movie.original_title}}</h6>
        </div>
    </div>
    <!-- end -->

    <div class="ss-black ss-center ss-padding-24">Copyright © Samanjate Sood. All rights reserved.</div>
</div>