<header class="ss-container ss-top ss-black ss-xlarge ss-padding-16">
    <span class="ss-left ss-padding">GO MOVIES</span>
    <span class="ss-right glyphicon glyphicon-user ss-padding"></span>
</header>

<div class="ss-main ss-content ss-content-page">

    <h3 class="ss-padding-16 ss-padding">SEARCH RESULTS FOR: "{{model.keyword}}"</h3>

    <div class="ss-container ss-light-grey ss-padding-32 ss-padding-large">
        <!-- movie search results -->
        <div ng-if="model.movies.length" class="ss-content ss-hover-effect">
            <ul class="ss-ul ss-white">
                <li class="ss-black ss-xlarge ss-padding-32">Movies</li>
                <li ng-repeat="movie in model.movies" class="ss-padding-32">
                    <div class="ss-row-padding" style="margin:0 -16px">
                        <div class="ss-half ss-margin-bottom ss-center">
                            <img class="ss-search-poster"
                                 ng-if="movie.poster_path"
                                 ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
                                 class="pull-left"
                                 ng-click="model.goToMoviePage(movie.id)"/>

                            <img class="ss-search-poster"
                                 ng-if="!movie.poster_path"
                                 src="http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg"
                                 class="pull-left"
                                 ng-click="model.goToMoviePage(movie.id)"/>
                        </div>
                        <div class="ss-half">
                            <h3 ng-click="model.goToMoviePage(movie.id)">{{movie.title}} ({{movie.release_date.substr(0,4)}})</h3>
                            <span class="ss-small">{{movie.overview.substr(0,250)}}...</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end -->

        <!-- tv search results -->
        <div ng-if="model.tv.length" class="ss-content">
            <ul class="ss-ul ss-white">
                <li class="ss-black ss-xlarge ss-padding-32">TV Shows</li>
                <li ng-repeat="t in model.tv" class="ss-padding-32">
                    <div class="ss-row-padding" style="margin:0 -16px">
                        <div class="ss-half ss-margin-bottom ss-center">
                            <img class="ss-search-poster"
                                 ng-if="t.poster_path"
                                 ng-src="https://image.tmdb.org/t/p/w500/{{t.poster_path}}"
                                 class="pull-left" />

                            <img class="ss-search-poster"
                                 ng-if="!t.poster_path"
                                 src="http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg"
                                 class="pull-left" />
                        </div>
                        <div class="ss-half">
                            <h3>{{t.original_name}} ({{t.first_air_date.substr(0,4)}})</h3>
                            <span class="ss-small">{{t.overview.substr(0,250)}}...</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end -->

        <!-- people search results -->
        <div ng-if="model.people.length" class="ss-content">
            <ul class="ss-ul ss-white">
                <li class="ss-black ss-xlarge ss-padding-32">Celebrities</li>
                <li ng-repeat="person in model.people" class="ss-padding-32">
                    <div class="ss-row-padding" style="margin:0 -16px">
                        <div class="ss-half ss-margin-bottom ss-center">
                            <img class="ss-search-poster"
                                 ng-if="person.profile_path"
                                 ng-src="https://image.tmdb.org/t/p/w500/{{person.profile_path}}"
                                 class="pull-left" />

                            <img class="ss-search-poster"
                                 ng-if="!person.profile_path"
                                 src="http://s3.amazonaws.com/static.betaeasy.com/screenshot/456/456-25984-14192637741419263774.42.jpeg"
                                 class="pull-left" />
                        </div>
                        <div class="ss-half">
                            <h3>{{person.id}}</h3>
                            <span class="ss-small"><b>Best known for:</b> {{person.known_for[0].title}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end -->

    </div>

    <div class="ss-black ss-center ss-padding-24">Copyright © Samanjate Sood. All rights reserved.</div>

</div>