<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="widgetChooserModel.goToWebsiteList()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li ng-repeat="widget in widgetChooserModel.widgets" class="list-group-item">
                    <a ng-click="widgetChooserModel.goToEditWidget(widget)">
                        {{widget}}
                    </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="widgetChooserModel.goToProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>