<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-list.view.client.html">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Widget Edit
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="widget-name">Name</label>
    <input placeholder="Image"
           value="Vegas"
           class="form-control insert-margin"
           id="widget-name"/>

    <label for="widget-text">Text</label>
    <input placeholder="Some text here..."
           class="form-control insert-margin"
           value="Las Vegas: The Strip"
           id="widget-text"></input>

    <label for="widget-url">URL</label>
    <input placeholder="https://..."
           class="form-control insert-margin"
           value="http://68.media.tumblr.com/73a29437be6f2e37248a4978f3b988c1/tumblr_oirikcwI3O1swacvso1_1280.jpg"
           id="widget-url"></input>

    <label for="widget-width">Width</label>
    <input placeholder="30%"
           class="form-control insert-margin"
           value="100%"
           id="widget-width"></input>

    <label for="widget-upload">Upload</label>
    <input placeholder="No file Choosen"
           type="file"
           class="form-control insert-margin"
           id="widget-upload"></input>


    <a class="btn btn-primary btn-block">Upload Image</a>
    <a href="widget-list.view.client.html" class="btn btn-danger btn-block">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>