<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a ng-click="websiteNewModel.websiteList()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="websiteNewModel.createWebsite()">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left hidden-sm hidden-md hidden-lg">
                <a ng-click="websiteNewModel.websiteList()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="websiteNewModel.createNewWebsite(websiteNewModel.website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin">
                    New Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
            <li ng-repeat="w in websiteNewModel.websites" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="../../page/templates/page-list.view.client.html">
                            {{w.name}}
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a ng-click="websiteNewModel.goToEditWebsite(w)">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <label for="website-name">Name</label>
        <input ng-model="websiteNewModel.website.name"
               placeholder="Name"
               class="form-control insert-margin"
               id="website-name"/>

        <label for="website-description">Description</label>
        <textarea ng-model="websiteNewModel.website.description"
                  placeholder="Description"
                  class="form-control insert-margin"
                  id="website-description"></textarea>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="websiteNewModel.goToProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>