<div class="container-fluid">
    Text
    <input ng-model="widgetEditModel.widget.text"
           class="form-control"/>
    Rows
    <input ng-model="widgetEditModel.widget.rows"
           class="form-control"/>
    Placeholder
    <input ng-model="widgetEditModel.widget.placeholder"
           class="form-control"/>
    Formatted
    <input ng-model="widgetEditModel.widget.formatted"
           type="checkbox"/>
<div>
    <a ng-click="widgetEditModel.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>
</div>