<header class="ss-container ss-top ss-black ss-xlarge ss-padding-16">
    <span ng-click="model.goToHomePage()" class="ss-left ss-padding">GO MOVIES</span>
</header>


<!-- !PAGE CONTENT! -->
<div class="ss-main ss-content ss-content-page">

    <div class="ss-container ss-light-grey ss-padding-32 ss-padding-large">
        <!-- Login box -->
        <div class="ss-content ss-hover-effect">
            <ul class="ss-ul ss-white">
                <li class="ss-black ss-xlarge ss-padding-32">Log In</li>
                <li class="ss-padding-32">
                    <div class="ss-content ss-search-section">
                        <h4 class="ss-center"><span class="ss-xxxlarge glyphicon glyphicon-log-in"></span></h4>
                        <div ng-show="model.error" class="alert alert-danger" role="alert">
                            {{model.error}}
                        </div>
                        <div class="ss-section">
                            <label for="username">Username</label>
                            <input class="form-control"
                                   ng-model="model.user.username"
                                   id="username"
                                   placeholder="Username"
                                   type="text"
                                   required>
                            <br/>
                            <label for="password">Password</label>
                            <input class="form-control"
                                   ng-model="model.user.password"
                                   id="password"
                                   placeholder="Password"
                                   type="password"
                                   required>
                        </div>
                        <div class="ss-padding">
                            Sign in as Critic?
                            <label for="chkCritic">
                                <input id="chkCritic" type="checkbox" ng-model="model.isCritic" />
                            </label>
                        </div>
                        <div class="ss-padding ss-center">
                            <a ng-click="model.login(model.user)"
                               class="btn ss-black btn-lg">Log In</a>
                            <a ng-click="model.goToRegisterPage()"
                               class="btn ss-black btn-lg">New user?</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end -->
    </div>

    <div class="ss-black ss-center ss-padding-24">Copyright © Samanjate Sood. All rights reserved.</div>

</div>
<!-- End page content -->