<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="pageListModel.goToWebsiteList()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="pageListModel.goToPageNew()">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                Pages
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <ul class="list-group">
        <li ng-repeat="page in pageListModel.pages" class="list-group-item">
            <div class="row">
                <div class="col-xs-10">
                    <a href="../../widget/templates/widget-list.view.client.html">
                        {{page.name}}
                    </a>
                </div>
                <div class="col-xs-2">
                    <a ng-click="pageListModel.goToPageEdit(page)">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-click="pageListModel.goToProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>